body {
  background-color: rgb(25, 25, 25);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 18px;
}

p {
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

footer {
  text-align: center;
  font-size: 15px;
  color: white;
  margin-bottom: 40px;
}

footer a {
  color: #5effcc;
  transition: color 200ms ease-in-out;
}

footer a:hover {
  color: #a6ffe0; /* Lighter shade of gold */
}

.main-container {
  background-color: rgb(52, 52, 52);
  max-width: 600px;
  border-radius: 6px;
  display: block;
  margin: 70px auto 40px;
  padding: 40px;
}
.emojis {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.text-input {
  width: 70%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(71, 71, 71);
}

.text-input::placeholder {
  color: rgb(176, 176, 176);
}

.submit {
  border-radius: 10px;
  border: none;
  padding: 15px;
  margin-left: 10px;
  background-color: rgb(61, 255, 206);
  width: 22%;
  font-size: 15px;
}
.submit:hover {
  background-color: rgb(157, 255, 232);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.example {
  color: rgb(88, 86, 86);
  padding-top: 20px;
  text-align: left;
}
.recipe {
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  margin-top: 40px;
  color: rgb(255, 255, 255);
  text-align: left;
}

.recipe li {
  margin-bottom: 12px;
}

.chef {
  font-size: 130px;
  text-align: center;
}

.recipe h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

@media (max-width: 670px) {
  h1 {
    font-size: 38px;
  }
  .text-input {
    max-width: 65%;
  }
  .submit {
    max-width: 40%;
  }
}
@media (max-width: 450px) {
  .text-input {
    display: block;
    min-width: 90%;
    margin-bottom: 15px;
  }
  .submit {
    display: block;
    min-width: 100%;
    margin-left: 0;
  }
}
